# ===== Python envs =====
.venv/
venv/

# ===== Byte-compiled / cache =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== IDE / editor =====
.vscode/
.idea/

# ===== OS cruft =====
.DS_Store
Thumbs.db

# ===== Logs / tmp =====
*.log
*.tmp
*.temp

# ===== Project-specific =====
# Non voglio committare la libreria esterna
SnifferAPI/
# (opzionale) file PCAP/PCAPNG pesanti prodotti dallo sniffer
*.pcap
*.pcapng
